.containerLogueo{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 100vw;
    height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b7ea+0,c45ebd+100 */
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #00b7ea 0%, #c45ebd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #00b7ea 0%,#c45ebd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #00b7ea 0%,#c45ebd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#c45ebd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  }
  
  h1{
    font-size: 1.5em;
  }